<div class="col-md-6 col-md-offset-3">
  <div class="edit-book-form">
    <h1>Edit Book</h1>
    <%= simple_form_for @book, html: { multipart: true } do |f| %>
      <%= f.select :category_id, @categories %>
      <%= f.file_field :book_img %>
      <%= f.input :title, label: "Book Title" %>
      <%= f.input :description %>
      <%= f.input :author %>
      <%= f.button :submit, class: 'btn-custom2' %>
    <% end %>
  </div>
</div>  